<%= form_tag('/partners', :method => "get", :id => "geo-search") do |f| %>

  <div id="search-bar">
    <%= text_field_tag :place, params["search-type"] == "geolocation" ? "Ma position" : params[:place] || current_user.full_address, {:required => 'required', "data-coords" => params[:place]} %>

    <%= button_tag(type: "button", id: "geoloc") do %>
      <i class="fas fa-map-marker-alt"></i>
    <% end %>

    <%= hidden_field_tag "search-type", params["search-type"] || "text" %>

    <%= button_tag(type: "submit", id: "search-submit") do %>
      <i class="fas fa-search"></i>
    <% end %>

  </div>

  <div id="form-options">
    <a class="text-center w-100" data-toggle="collapse" href="#search-options" role="button" aria-expanded="false" aria-controls="search-options">Rayon<i class="fas fa-chevron-down"></i></a>

    <div class="collapse col-12" id="search-options">
      <div class="col-6">
        <%= radio_button_tag :radius, "5", class: "radio-button-input" %>
        <%= label_tag :radius, "5 km", :value => "5", class: "radio-button-label" %>
      </div>

      <div class="col-6">
        <%= radio_button_tag :radius, "10", selected: true, class: "radio-button-input" %>
        <%= label_tag :radius, "10 km", :value => "10", class: "radio-button-label" %>
      </div>

      <div class="col-6">
        <%= radio_button_tag :radius, "20", class: "radio-button-label text-center" %>
        <%= label_tag :radius, "20 km", :value => "20", class: "radio-button-label" %>
      </div>

      <div class="col-6">
        <%= radio_button_tag :radius, "50", class: "radio-button-label text-center" %>
        <%= label_tag :radius, "50 km", :value => "50", class: "radio-button-label" %>
      </div>

      <div class="col-6">
        <%= radio_button_tag :radius, "100", class: "radio-button-label text-center" %>
        <%= label_tag :radius, "100 km", :value => "100", class: "radio-button-label" %>
      </div>
      
    </div>


    <!-- NEW FILTER TO INSERT -->
    
  <!--   <div class="collapse col-12" id="search-options">
      <div class="form-group">
        <%= radio_button_tag :radius, "5", input_html:{ class: "form-radio-input" } %>
        <%= label_tag :radius, "5 km", :value => "5", class: "form-radio-label" %>
      </div>
      <div class="form-group">
        <%= radio_button_tag :radius, "10", input_html:{ class: "form-radio-input", selected: true} %>
        <%= label_tag :radius, "10 km", :value => "10", class: "form-radio-label" %>
      </div>
      <div class="form-group">
        <%= radio_button_tag :radius, "20", input_html:{ class: "form-radio-input" } %>
        <%= label_tag :radius, "20 km", :value => "20", class: "form-radio-label" %>
      </div>
      <div class="form-group">
        <%= radio_button_tag :radius, "50", input_html:{ class: "form-radio-input" } %>
        <%= label_tag :radius, "50 km", :value => "50", class: "form-radio-label" %>
      </div>
      <div class="form-group">
        <%= radio_button_tag :radius, "100", input_html:{ class: "form-radio-input" } %>
        <%= label_tag :radius, "100 km", :value => "100", class: "form-radio-label" %>
      </div>
      
    </div> -->
  </div>

<% end %>
