<%= form_tag('/partners', :method => "get", :id => "geo-search") do |f| %>

  <div id="search-bar">
    <%= text_field_tag :place, params["search-type"] == "geolocation" ? "Ma position" : params[:place] || current_user.full_address, {:required => 'required', "data-coords" => params[:place]} %>

    <%= button_tag(type: "button", id: "geoloc") do %>
      <i class="fas fa-map-marker-alt"></i>
    <% end %>

    <%= hidden_field_tag "search-type", params["search-type"] || "text" %>

    <%= button_tag(type: "submit", id: "search-submit") do %>
      <i class="fas fa-search"></i>
    <% end %>

  </div>

  <div id="form-options">
    <a class="text-center" data-toggle="collapse" href="#search-options" role="button" aria-expanded="false" aria-controls="search-options">Affiner la recherche<i class="fas fa-chevron-down"></i></a>
    <div class="collapse" id="search-options">
      <%= hidden_field_tag "radius", params["radius"] || 20 %>
      <div class="radius-input option" data-value="10">10 km</div>
      <div class="radius-input option" data-value="20">20 km</div>
      <div class="radius-input option" data-value="50">50 km</div>
    </div>

    <!-- select_tag :radius,
        options_for_select([
          ["1km", "1"],
          ["2km", "2"],
          ["5km", "5"],
          ["10km", "10"],
          ["20km", "20"],
          ["50km", "50"],
          ["100km", "100"]
        ]) -->

  </div>

<% end %>
