
<!-- <p id="notice"><%= notice %></p> -->


<div class="card-body">
  <%= image_tag "carrefour.png", alt: "Carrefour", width: 30 %>
  <h5 class="card-title"><%= partner.name %></h5>

  <p class="card-text"><%= partner.address %></p>
  <p class="card-text"><%= partner.zipcode %> <%= partner.city %></p>

  <p class="btn-lg btn-oval-emergency"><%= link_to "Voir le magasin", partner_path(partner) %></p>
</div>



<!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
 -->


<!--
<%= image_tag "carrefour.png", alt: "Carrefour", width: 30 %>

<p><%= partner.name %></p>
<p><%= partner.address %></p>
<p><%= partner.zipcode %> <%= partner.city %></p>

<%= link_to "Voir le magasin", partner_path(partner) %> -->




