<div class="content">
  <div class="header-show">
    <h1 class="inset" id="partner-name"><%= @partner.name %></h1>
    <i class="fas fa-heart"></i>
    <%= if @favorite.blank? %>
      <%= link_to user_favorites_path(@partner), method: :post do  %>
        <p>ADD TO FAV</p>
      <% end %>
    <%= else %>
        Bouton delete
    <% end %>

  </div>
  <!-- CARD HOUR -->
    <div class="card-template-address-mag">
      <div class="card-address-mag">
        <p id="partner-address"><%= @partner.address %></p>
        <p id="partner-city"><%= @partner.zipcode %> <%= @partner.city %></p>
      </div>
    </div>

  <!-- CARD HOUR -->
    <div class="card-template-hour">
      <div class="card-hour">
        <p>Heure de la récolte</p>
        <p>18h00</p>
      </div>
    </div>

  <!-- CARD CONTACT -->
    <div class="card-template-contact">
      <div class="card-contact">
        <h4>Contact</h4>
        <p>Abel AUBOISDORMANT</p>
        <p>02.44.55.66.77</p>
        <p>a.auboisdormant@systemeu.fr</p>
      </div>
    </div>

    <h1 class="inset">Prochaines récoltes</h1>

  <div class="harvest-date full">
    <p class="date">Mar 16/03/2021</p>
    <p class="missing">2/2 inscrits</p>
    <div class="date-action">
    </div>
  </div>

  <div class="harvest-date missing">
    <p class="date">Mer 17/03/2021</p>
    <p class="missing">1/2 inscrits</p>
    <div class="date-action">
      <div class="register" id=""><span>&#43;</span></div>
    </div>
  </div>

  <div class="harvest-date registered">
    <p class="date">Mer 17/03/2021</p>
    <p class="missing">2/2 inscrits</p>
    <div class="date-action">
      <div class="cancel" id=""><span>&#43;</span></div>
    </div>
  </div>

  <% @harvests.each do |harvest| %>
    <p><%= harvest.date.strftime("%d/%m/%Y") %></p>
  <% end %>

  <div id="map" class="show"
      style="width: 100%; height: 500px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <%= link_to 'Back', partners_path %>

</div>

<%= render 'shared/modal_window' %>


