<tr>
      <th scope="row"><%= harvest.id %></th>
      <td><%= harvest.date.strftime("%d/%m/%Y") %></td>
      <td><%= harvest.hour.strftime("%H:%M")  %></td>
      <td><%= harvest.harvesters.count %></td>
      <td><%= harvest.harvesters_number %></td>
      <td><i class="fas fa-user-times"></i></td>
    </tr>
