<h1 class="inset margin-inset">MON PROFIL</h1>


<div class="toggle-profil-btn btn btn-lg btn-block btn-primary d-flex justify-content-center card-body" data-toggle="collapse" href="#CollapseExample1" role="button" aria-expanded="false" aria-controls="CollapseExample">
  <p>MON PLANNING RÉCOLTES</p>
  <i class="fas fa-chevron-down fa-lg"></i>
</div>

<div class="collapse" id="CollapseExample1">
  <div class="card-body">
    <!-- CARD PLANNING -->
    <div class="card-template-planning">
      <% @harvesters.each do |harvester| %>
      <%= link_to partner_path(harvester.harvest.partner) do %>
      <div class="date-info">
        <p><%= l(harvester.harvest.date, format: "%A %d %B %Y") %></p>
        <p class="hour"><%= harvester.harvest.hour.strftime("%H:%M") %></p>
      </div>
      <div class="card-planning">
        <div class="top">
          <div class="shop-name">
            <%= image_tag harvester.harvest.partner.brand.logo, alt: "Carrefour", width: 30 %>
            <p class="shop-title"><%= harvester.harvest.partner.name %></p>
          </div>
          <div class="distance">
            <p class="distance-label"><span><i class="fas fa-map-marker-alt"></i></span>700 m</p>
          </div>
        </div>
        <div class="bottom">
          <div class="shop-address">
           <p><%= harvester.harvest.partner.address %></p>
           <p><%= harvester.harvest.partner.zipcode %> <%= harvester.harvest.partner.city %></p>
          </div>
          <p><i class="fas fa-times-circle cross"></i></p>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="toggle-profil-btn btn btn-lg btn-block btn-primary d-flex justify-content-center card-body" data-toggle="collapse" href="#CollapseExample2" role="button" aria-expanded="false" aria-controls="CollapseExample2">
  <p>MES DISTRIBUTIONS</p>
  <i class="fas fa-chevron-down fa-lg"></i>
</div>
<div class="collapse" id="CollapseExample2">
  <div class="card-body">
<!-- CARD DISTRIBUTUION -->
    <div class="card-template-distribution">
      <div class="date-info">
        <p>Vendredi 12 mars 2021</p>
        <p>10 <i class="fas fa-shopping-basket"></i></p>
        <p class="hour">20h00</p>
      </div>
      <div class="card-distribution">
        <div class="top">
          <p>On y retrouve des produits épiceries (riz, pates, semoule etc) des produits d’hygiènes (savon et gel douche).</p>
          <p class="mt-1">Sacs et cabas</p>
        </div>
        <div class="bottom mt-2">
          <div class="shop-address">
           <p>Boulevard De la Baule</p>
           <p>44000 Saint- Herblain</p>
          </div>
          <p><i class="fas fa-pen-square pensil"></i></p>
        </div>
      </div>
    </div>
    <div>
      <p class="btn-distribution">voir mes dernières distributions</p>
    </div>
  </div>
</div>

<div class="toggle-profil-btn btn btn-lg btn-block btn-primary d-flex justify-content-center card-body" data-toggle="collapse" href="#CollapseExample3" role="button" aria-expanded="false" aria-controls="CollapseExample3">
  <p>MES COORDONNÉES</p>
  <i class="fas fa-chevron-down fa-lg"></i>
</div>
<div class="collapse" id="CollapseExample3">
  <div class="card-body">

    <div class="form-user">
      <div class="d-flex justify-content-between align-items-center mb-1">
      </div>
      <div class="row">
        <div class=" mt-3 col-md-6">
          <label class="labels">Prénom</label>
          <input type="text" class="form-control" placeholder="<%= @user.first_name %>" value="">
        </div>
        <div class=" mt-3 col-md-6">
          <label class="labels">Nom</label>
          <input type="text" class="form-control" value="" placeholder="<%= @user.last_name %>">
        </div>
        <div class=" mt-3 col-md-12">
          <label class="labels">Email</label>
          <input type="text" class="form-control" placeholder="<%= @user.email %>" value="">
        </div>
        <div class=" mt-3 col-md-12">
          <label class="labels">Adresse</label>
          <input type="text" class="form-control" placeholder="<%= @user.address %>" value="">
        </div>
        <div class=" mt-3 col-md-6">
          <label class="labels">Code postal</label>
          <input type="text" class="form-control" placeholder="<%= @user.zipcode %>" value="">
        </div>
        <div class=" mt-3 col-md-6">
          <label class="labels">Ville</label>
          <input type="text" class="form-control" value="" placeholder="<%= @user.city %>">
        </div>
        <div class="mt-2 mb-2 col-md-6">
          <button class="btn btn-oval-full-green profile-button" type="button">Sauvegarder</button>
        </div>
      </div>
    </div>

  </div>
</div>
<div>
<%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "btn-logout" %>
</div>



