<div class="profil-container" target="<%= @target %>">
  <h1 class="inset margin-inset">MON PROFIL</h1>

  <% if @user.admin %>
  <div>
  <%= button_to "Admin", admin_index_path , method: :get %>
  </div>
  <%end %>

  <div id="planning" class="toggle-profil-btn btn btn-lg btn-block toggle-color d-flex justify-content-center card-body" data-toggle="collapse" href="#CollapseExample1" role="button" aria-expanded="false" aria-controls="CollapseExample1">
    <p>MON PLANNING RÉCOLTES</p>
    <i class="fas fa-chevron-down fa-lg"></i>
  </div>

  <div class="collapse" id="CollapseExample1">
    <div class="card-body">
      <!-- CARD PLANNING -->
      <div class="card-template-planning">
        <% @harvesters.each do |harvester| %>

            <div class="date-info">
              <p><%= l(harvester.harvest.date, format: "%A %d %B %Y") %></p>
              <p class="hour"><%= harvester.harvest.hour.strftime("%H:%M") %></p>
            </div>
            <div class="card-planning">
                <div class="top">
                  <%= link_to partner_path(harvester.harvest.partner) do %>
                    <div class="shop-name">
                      <p class="shop-title"><%= harvester.harvest.partner.name %></p>
                    </div>
                  <% end %>
                  <a href=https://waze.com/ul?q='<%= URI.encode(harvester.harvest.partner.address) %>,<%= URI.encode(harvester.harvest.partner.zipcode) %>,<%= URI.encode(harvester.harvest.partner.city) %>'><i class="fab fa-waze"></i></a>
                </div>

                <div class="bottom">
                  <%= link_to partner_path(harvester.harvest.partner) do %>
                    <div class="shop-address">
                    <p><%= harvester.harvest.partner.address %></p>
                    <p><%= harvester.harvest.partner.zipcode %> <%= harvester.harvest.partner.city %></p>
                    </div>
                  <% end %>
                  <div class="date-action">

                    <div class="static cancel" data-shop="<%= harvester.harvest.partner.name %>" data-date="<%= l(harvester.harvest.date, format: "%a %d/%m/%y") %>" data-remote="true" data-method="delete" data-url="<%= harvester_path(harvester.id) %>">
                      <i id="crossdeleteplanning" class="fas fa-times-circle cross"></i>
                    </div>
                  </div>
                </div>
            </div>

        <% end %>
      </div>
    </div>
  </div>

  <div id="distributions" class="toggle-profil-btn btn btn-lg btn-block btn-primary d-flex justify-content-center card-body" data-toggle="collapse" href="#CollapseExample2" role="button" aria-expanded="false" aria-controls="CollapseExample2">
    <p>MES DISTRIBUTIONS</p>
    <i class="fas fa-chevron-down fa-lg"></i>
  </div>

  <div class="collapse" id="CollapseExample2">
    <div class="card-body">

      <!-- TEST TABS-->
      <ul class="nav nav-tabs tabs" id="myTab" role="tablist">
        <li class="nav-item tab in-progress">
          <a class="nav-link active in-progress" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">En cours</a>
        </li>
        <li class="nav-item tab passed">
          <a class="nav-link passed" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Passées</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <!-- CARD DISTRIBUTUION -->
      <div class="card-template-distribution">
        <% @distributions.each do |distribution| %>
          <div class="date-info">
            <p><%= distribution.date.strftime("%d/%m/%Y") %></p>
            <p><%= distribution.baskets_number %> <i class="fas fa-shopping-basket"></i></p>
            <p class="hour"><%= distribution.hour.strftime("%H:%M") %></p>
          </div>
          <div class="card-distribution">
            <div class="top">
              <p><%= distribution.description %></p>
            </div>
            <div class="bottom mt-2">
              <div class="shop-address">
                <p> <%= distribution.address %></p>
                <p> <%= distribution.zipcode %> <%= distribution.city %></p>
              </div>
              <%= link_to edit_distribution_path(distribution) do %>
                <i class="fas fa-pen-square pensil"></i>
              <% end %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="card-template-distribution">
        <% @past_distributions.each do |past_distribution| %>
          <div class="date-info">
            <p><%= past_distribution.date.strftime("%d/%m/%Y") %></p>
            <p><%= past_distribution.baskets_number %> <i class="fas fa-shopping-basket"></i></p>
            <p class="hour"><%= past_distribution.hour.strftime("%H:%M") %></p>
          </div>
          <div class="card-distribution">
            <div class="top">
              <p><%= past_distribution.description %></p>
            </div>
            <div class="bottom mt-2">
              <div class="shop-address">
                <p> <%= past_distribution.address %></p>
                <p> <%= past_distribution.zipcode %> <%= past_distribution.city %></p>
              </div>
            </div>
          </div>
        <% end %>
        </div>
        </div>
      </div>

      </div>
    </div>

    <div id="coordonees" class="toggle-profil-btn btn btn-lg btn-block btn-primary d-flex justify-content-center card-body" data-toggle="collapse" href="#CollapseExample3" role="button" aria-expanded="false" aria-controls="CollapseExample3">
    <p>MES COORDONNÉES</p>
    <i class="fas fa-chevron-down fa-lg"></i>
  </div>

  <div class="collapse" id="CollapseExample3">
    <div class="card-body">
      <div class="form-user">
        <div class="d-flex justify-content-between align-items-center mb-1"></div>
        <div class="row">
          <div class=" mt-3 col-md-6">
            <label class="labels">Prénom</label>
            <input type="text" class="form-control" placeholder="<%= @user.first_name %>" value="">
          </div>
          <div class=" mt-3 col-md-6">
            <label class="labels">Nom</label>
            <input type="text" class="form-control" value="" placeholder="<%= @user.last_name %>">
          </div>
          <div class=" mt-3 col-md-12">
            <label class="labels">Email</label>
            <input type="text" class="form-control" placeholder="<%= @user.email %>" value="">
          </div>
          <div class=" mt-3 col-md-12">
            <label class="labels">Adresse</label>
            <input type="text" class="form-control" placeholder="<%= @user.address %>" value="">
          </div>
          <div class=" mt-3 col-md-6">
            <label class="labels">Code postal</label>
            <input type="text" class="form-control" placeholder="<%= @user.zipcode %>" value="">
          </div>
          <div class=" mt-3 col-md-6">
            <label class="labels">Ville</label>
            <input type="text" class="form-control" value="" placeholder="<%= @user.city %>">
          </div>
          <div class="mt-4 mb-2 col-md-6">
            <button class="btn btn-oval-full-green profile-button" type="button">Sauvegarder</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div>
    <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "btn-logout" %>
  </div>

  <div class="text-center mt-5 support">
    <%= link_to contact_path do %>
        <p><i class="fas fa-phone-alt"></i> Support technique</p>
    <% end %>
  </div>
</div>


<%= render 'shared/modal_window' %>
