<%= render 'shared/distribution_form', distribution: @distribution, harvests: @harvests%>

<!--
<form method="post" action="/distributions" class="button-to">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <div class="distribution-form-container">

  <div class="form-user">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h1 class="text-right inset">J'organise ma distribution</h1>
    </div>

    <div class="row mt-2">
      <div class="mt-3 col-12">
        <label class="labels">1. De quelle récolte souhaitez-vous planifier la distribution</label>
        <select name="harvest_id" id="harvest_id" class="form-control" >
          <% @harvests.each do |harvest| %>
            <option value="<%= harvest.id %>" label="<%= l(harvest.date, format: "%a %d/%m/%y").capitalize %> - <%= harvest.name %>"></option>
          <% end %>
        </select>
      </div>

      <div class="mt-3 col-12">
        <label class="labels">Le nombre de panier</label>
        <input type="number" class="form-control" placeholder="" value="" id="baskets_number">
      </div>

      <div class="mt-3 col-12">
        <label for="exampleFormControlTextarea1" class="labels">Description</label>
        <textarea class="form-control" id="description" value="" placeholder="Fruits et légumes, épicerie, boulangerie, etc"></textarea>
      </div>

      <div class="mt-3 col-12">
      	<p>Équipements nécessaires</p>
      </div>
      <div class="bags d-flex justify-content-around col-12">
        <div class="form-check mt-3">
          <input class="form-check-input" type="checkbox" value="" id="need_bag">
          <label class="form-check-label" for="need_bag">
            Sacs et cabas
          </label>
        </div>
        <div class="form-check mt-3">
          <input class="form-check-input" type="checkbox" value="" id="need_cooler">
          <label class="form-check-label" for="need_cooler">
            Glacière obligatoire
          </label>
        </div>
      </div>

      <div class=" mt-3 col-12">
        <label class="labels">Adresse de la distribution</label>
        <input type="text" class="form-control" placeholder="<%= @user.address %>" value="" id="address">
      </div>

      <div class=" mt-3 col-6">
        <label class="labels">Code postal</label>
        <input type="text" class="form-control" placeholder="<%= @user.zipcode %>" value="" id="zipcode">
      </div>

      <div class=" mt-3 col-6">
        <label class="labels">Ville</label>
        <input type="text" class="form-control" value="<%= @user.city %>" placeholder="" id="city">
      </div>

      <div class=" mt-3 col-6">
        <label class="labels">Date</label>
        <input type="text" class="form-control datepicker" placeholder="" value="" id="date">
      </div>

      <div class=" mt-3 col-6">
        <label class="labels">Heure</label>
        <input type="text" class="form-control timepicker" value="" placeholder="" id="hour">
      </div>

      <div class="mt-3 col-12">
        <label for="exampleFormControlTextarea1" class="labels">Informations complémentaires</label>
        <textarea class="form-control" id="informations" value="" placeholder=""></textarea>
      </div>

      <div class="mt-1 col-12">
        <button class="btn btn-oval-full-green profile-button" type="submit">Sauvegarder</button>
      </div>

    </div>
  </div>
</div>
</form>

-->
