<div class="navbar">
  <%= link_to partners_path do %> 
    <div class="category-menu <%= current_class?(partners_path) %>">
      <i class="fas fa-store-alt <%= current_class?(partners_path) %>"></i>
      <p>Magasins</p>
    </div>
  <% end %>

  <%= link_to harvests_path do %> 
    <div class="category-menu">
      <i class="fas fa-exclamation-triangle <%= current_class?(harvests_path) %>"></i>
      <p class="<%= current_class?(harvests_path) %>">Urgences</p>
    </div>
  <% end %>
     
  <%= link_to user_favorites_path('me') do %>
    <div class="category-menu <%= current_class?(user_favorites_path(current_user)) %>">
      <i class="fas fa-heart <%= current_class?(user_favorites_path(current_user)) %>"></i>
      <p>Favoris</p>
    </div>
  <% end %>

   <%= link_to new_distribution_path do %> 
    <div id="newdistrib" class="category-menu <%= current_class?(new_distribution_path) %>">
      <i class="fas fa-sync <%= current_class?(new_distribution_path) %>"></i>
      <p>Distributions</p>
    </div>
  <% end %>

  <%= link_to user_path('me') do %>
    <div class="category-menu <%= current_class?(user_path(current_user)) %>">
      <i class="fas fa-user <%= current_class?(user_path(current_user)) %>"></i>
      <p>Profil</p>
    </div>
  <% end %>
</div>
