<div class="card-template-urgence">

    <div class="date-info">
      <div>
        <% harvest.harvesters.count.times do %>
          <i class="fas fa-user"></i>
        <% end %>
        <% (harvest.harvesters_number - harvest.harvesters.count).times do %>
          <i class="far fa-user"></i>
        <% end %>
      </div>

      <p class="hour"><%= harvest.hour.strftime("%H:%M") %></p>
    </div>
    <div class="card-urgence">
      <%= link_to partner_path(harvest.partner) do %>
        <div class="top">
          <div class="shop-name" >
            <%= image_tag harvest.partner.brand.logo, alt: "Carrefour", width: 30 %>
            <p class="shop-title" id=""><%= harvest.partner.name %></p>
          </div>

        </div>

      <div class="bottom">

          <div class="shop-address">
            <p><%= harvest.partner.address %></p>
            <p><%= harvest.partner.zipcode %> <%= harvest.partner.city %> </p>
          </div>
        <% end %>
        <div class="date-action">


        <% if harvest.user_registered?(current_user.id) %>
          <p class="count">
            <div class="date-action">
              <div class="static" data-shop="<%= harvest.partner.name %>" data-date="<%= l(harvest.date, format: "%a %d/%m/%y") %>" data-remote="true" data-method="delete" data-url="<%= harvester_path(current_user.id) %>">
                <i class="fas fa-times-circle cross"></i>
              </div>
            </div></p>
        <% elsif harvest.full? %>
          <p class="count">Récolte pleine</p>
        <% else  %>
          <p class="count"><div class="label-yellow static"  data-shop="<%= harvest.partner.name %>" data-date="<%= l(harvest.date, format: "%a %d/%m/%y") %>" data-remote="true" data-method="post" data-url="<%= harvesters_path(:harvest_id => harvest.id) %>">je m'inscris</div></p>
        <% end %>



        </div>
      </div>
    </div>

</div>


