<div class="card-template-urgence">

    <div class="date-info">
      <div>
        <% harvest.harvesters.count.times do %>
          <i class="fas fa-user"></i>
        <% end %>
        <% (harvest.harvesters_number - harvest.harvesters.count).times do %>
          <i class="far fa-user"></i>
        <% end %>
      </div>

      <p class="hour"><%= harvest.hour.strftime("%H:%M") %></p>
    </div>
    <div class="card-urgence">
      <%= link_to partner_path(harvest.partner) do %>
        <div class="top">
          <div class="shop-name" >
            <%= image_tag harvest.partner.brand.logo, alt: "Carrefour", width: 30 %>
            <p class="shop-title" id=""><%= harvest.partner.name %></p>
          </div>
          <div class="distance">
            <p class="distance-label"><span><i class="fas fa-map-marker-alt"></i></span>700 m</p>
          </div>
        </div>
      
      <div class="bottom">

          <div class="shop-address">
            <p><%= harvest.partner.address %></p>
            <p><%= harvest.partner.zipcode %> <%= harvest.partner.city %> </p>
          </div>
        <% end %>
        <div class="date-action">
          <div class="label-yellow"  data-shop="<%= harvest.partner.name %>" data-date="<%= l(harvest.date, format: "%a %d/%m/%y") %>" data-remote="true" data-method="post" data-url="<%= harvesters_path(:harvest_id => harvest.id) %>">je m'inscris</div>
        </div>
      </div>
    </div>

</div>


