
  <div class="img-login js-fullheight" id="dummybodyid" cz-shortcut-listen="true">
  <div class="container">
  <div>
    <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
  </div>

<h5 class="card-title text-center" >Bienvenue</h5>
<h5 class="card-title text-center">Connectez-vous</h5>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "pb-2"}) do |f| %>
  <div class="form-inputs" class="label-login">
    <%= f.input :email,
                label: "Email",
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>

    <p><%= f.input :password,
                label: "Mot de passe",
                required: false,
                input_html: { autocomplete: "current-password" } %>
                <%= render "devise/shared/links" %>
                </p>

  </div>

  <div>
    <%= f.button :submit, "Valider", :class => "btn btn-secondary btn-lg btn-block" %>
  </div>

  </div>

<% end %>



</div>


